


<div class="container col-6 border border-2 my-5 p-4 shadow p-3 mb-5 bg-body rounded">

    <form action="/home" method="post">   
    <h3 class="" style="font-family:Arial, Helvetica, sans-serif"><b>Enter New Password</b></h3>
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Password" name="password">
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" placeholder="Confirm Password" name="cpassword" >
        <hr>
        <div class="form-text d-flex justify-content-center ">Create a new password that is at least 6 characters long. A strong password has a combination of letters, digits and punctuation marks.</div>
    </div>
        <input type="email" class="form-control" hidden="true" placeholder="Recovery Email" value="{{recovery_email}}" name="recovery_email">

   <div class="d-flex flex-column bd-highlight">

    <button type="submit" name="login" class="btn btn-outline-warning">Login</button>

   </div>

        {{!-- <div class="form-text d-flex justify-content-center">Don't have an account? <a href="/">SignUp</a></div> --}}
    </form>

</div>