



<div class="container col-6 border border-2 my-5 p-4">

    <form action="/forgot_password_step_2" method="post">

   
    <div class="mb-3">
    <h3 class="mb-3" style="font-family:Arial, Helvetica, sans-serif"><b>Find your account</b></h3>
    <hr class="mb-3">
        {{!-- <div class="form-text">Please enter your email address or mobile number to search for your account.</div> --}}
        <div class="form-text">Please enter your email address or mobile number to reset your password.</div>
        
        <input type="email" class="form-control " name="email" >
    </div>
    
   
    <button type="submit" class="btn btn-outline-warning">Send Reset Password</button>
    </form>

</div>
