



<div class="container col-6 border border-2 my-5 p-4 shadow p-3 mb-5 bg-body rounded">

    <form action="/otp" method="post">

   
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        
        <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    
   
    <button type="submit" name="verify" class="btn btn-outline-warning">Send OTP</button>
    </form>

</div>
